<div class="main-container">
  <form>
    <mat-form-field
      class="form-field"
      appearance="fill"
    >
      <mat-label>Insert number 1 - 10</mat-label>
      <input
        matInput
        required
        type="number"
        [min]="range.min"
        [max]="range.max"
        name="number"
        [(ngModel)]="number"
      >
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      (click)="callBackend()"
      [disabled]="!number || loading || !isNumberValid()"
      [class.spinner]="loading"
    >
      Primary
    </button>
  </form>
  <div *ngIf="data">
    <pre>{{data | json}}</pre>
  </div>
</div>
